<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-2">
            <h1 class="mt-3">Categorias</h1>
        </div>
        <div class="row justify-content-start mt-3">
            <div class="col-lg-7">
                <app-table (deleteEvent)="deletec($event)" [th]="th" titulo="Categorias" [Categoria]="category"></app-table>
            </div>
            <div class="col-lg-5">
                <div class="shadow">
                    <div class="card">
                        <div class="card-header bg-warning">
                            <h4 class="text-center text-white">Formulario</h4>
                        </div>
                        <div class="card-body">                 
                                <label for="Categoria">Nombre</label>
                              <input class="form-control"type="text"[(ngModel)]="cate.categoria" id="Categoria" placeholder="Nombre de categoria">                      
                        </div>
                           <div class="card-footer">
                            <div class="row">
                                <div class="d-flex gap-2">
                                    <button class="btn btn-primary w-50" (click)="AddCat()">Agregar</button>
                                    <button class="btn btn-danger w-50"(click)="Clear()"  routerLink="/layout/products">Cancelar</button>
                                </div>
                            </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
