<div class="row">
  <div class="shadow">
    <div class="card">
      <div class="card-body">
        <div
          class="table-responsive border rounded p-2 mb-3"
          style="max-height: 350px; overflow-y: auto"
        >
          <table
            class="table table-striped table-bordered text-center align-middle"
          >
            <thead class="table-warning">
              <tr>
                <th *ngFor="let h of headers">{{ h }}</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data; let i = index">
                <td>{{ d.nombre }}</td>
                <td>{{ d.descripcion }}</td>
                <td>{{ d.montototal | currency }}</td>
                <td>{{ d.fecha }}</td>
                <td>{{ d.tipo }}</td>
                <td>{{d.estado? 'Al contado': 'Credito'}}</td>
                 <td>             
                    <button (click)="Borrar(i)" class="btn btn-danger w-100">
                       Borrar
                    </button>
                 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-success w-50">Registrar <i class="bi bi-check-circle"></i></button>
      </div>
    </div>
  </div>
</div>
